.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login{
  background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

  height:100vh
}

.btn{
  background: white;
  margin-left:auto;

}

.criteria-one{
  margin: auto;
  max-width: 75%;
}

.content {
  font-size: 2rem;
  border: 2px solid #8BC6EC;
  padding: 20px;
  margin: 80px;
}

.text-center {
  text-align: center;
}

.btn-option {
  border: 2px;
  min-width:250px;
  font-size: x-large;
  border-radius: 40px;
  background: #2245AD;
  padding: 15px 40px;
  color: #ffffff;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
  /* button:hover {
    background: darken($medBlue, 8%);  
  } */
  
  .navbar{
    text-align: center;
  }